html {
    font-family: "Comic Sans MS";
    transition-duration: 0.4s;
    color: rgb(136, 54, 0);
}

body {
    background-color: rgb(107, 68, 37);
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS";
}

.header-bar {
    background-color: #4CAF50;
    color: rgb(255, 255, 255); 
    text-align: center; 
    padding: 10px 0;         
    font-size: 24px;
    margin: 20px, auto;
}

.box {
    background-color: #4CAF50;
    padding: 15px;
    margin: 10px auto;
    width: 80%; 
    border-radius: 8px; 
    text-align: center;
}

.box3 {
    background-color: #4CAF50;
    padding: 15px;
    margin: 10px auto;
    width: 80%; 
    border-radius: 8px; 
    text-align: left;
}

.box2 {
    background-color: #4CAF50;
    padding: 15px;
    margin: 10px auto; 
    width: 80%; 
    border-radius: 8px; 
    text-align: center;
}

.middle {
    text-align: center;
}

iframe {
    display: block;
    margin: 10px auto;
}

a {
    color: rgb(255, 255, 255);
    text-align: right;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
    text-decoration: underline;
}

h2 {
    text-align: center;
}